<!DOCTYPE html>
<html>
  <head>
    <title>ChatFix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  </head>

  <body>

    <nav>
    <div class="logo"></div>
    <ul>
        <li><a href="<%= services_page_path  %>">Services</a></li>
        <li><a href="<%= resources_page_path  %>">Resources</a></li>
        <li><a href="<%= about_page_path  %>">What We do</a></li>
        <li><a href="<%= new_user_session_path %>">Sign In</a></li>
    </ul>
</nav>
<header>
    <div class="headline">
        <div class="inner">
            <h1><%= link_to 'Welcome to ChatFix', home_page_path %></h1>
            <p>Let us help you save time and money</p>
        </div>
    </div>
</header>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
    <%= yield %>
    <div id="site-content"></div>
    <div id="site-footer"></div>
  </body>
</html>
