<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>ChatFix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet"
  </head>
  <body>
    <section class="body-container">
      <div class="left-side">
  <div class="chatfix-logo">
    ChatFix
  </div>


        <%= yield %>
</div>


      <div class="image-pane-container shadow">
        <nav class="flex-column">
    <a class="main-nav-title list-unstyled" href="#">ChatFix</a>

    <div class="main-nav">
      <ul class="flex-column main-nav-list">
        <li class="list-unstyled main-nav-item">
          <a href="<%= conversations_new_path %>">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="list-unstyled main-nav-item">
          <a href="<%= about_page_path  %>">What We Do</a>
        </li>
        <li class="list-unstyled main-nav-item">
          <a href="<%= services_page_path  %>">Services</a>
        </li>
        <li class="list-unstyled main-nav-item">
          <a href="<%= resources_page_path  %>">Resources</a>
        </li>

      </ul>

    </div>
  </nav>
    <!-- <div class="p1"></div>
    <div class="p2"></div>
    <div class="p3"></div>
    <div class="p"></div> -->
  <!-- <img_tag  class="p1" src=".app/assets/images/plumbing1.png" alt="plumbing company logo">
  <img  class="p2" src="plumbing2" alt="plumbing company logo">
  <img  class="p3" src="plumbing3" alt="plumbing company logo">
  <img  class="p4" src="plumbing4" alt="plumbing company logo"> -->
      </div>
    </section>
    <!-- <div id="site-content"></div> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
